<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navLower">
    <a class="navTitle">Employee Manager</a>
    <a class="navbarLink" (click)="onOpenModal(null, 'add')" style="cursor: pointer;" >Add Employee</a>

    <form class="formBox" action="/search" method="get">
        <input  (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
        style="padding: 8px;" class="inputBox" type="search" name="key" id="searchName" placeholder="Search employees...">
    </form>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href="#"><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.name}}</h5>
                        <p class="m-0">{{employee?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{employee?.phone}}</li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{employee?.department?.name}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">

                      <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" role="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                    
                      <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" role="button">
                        <i class="fa fa-times"></i>
                    </a>
                    
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add an Employee</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
                <div class="mb-3">
                  <label for="employeeName" class="form-label">Name</label>
                  <input type="text" ngModel class="form-control" id="employeeName"  name="name" placeholder="Enter name" required>
                </div>
                <div class="mb-3">
                  <label for="employeeEmail" class="form-label">Email</label>
                  <input type="email" ngModel class="form-control" id="employeeEmail"  name="email" placeholder="Enter email" required>
                </div>
                <div class="mb-3">
                  <label for="employeeJobTitle" class="form-label">Job Title</label>
                  <input type="text" ngModel class="form-control" id="employeeJobTitle"  name="jobTitle" placeholder="Enter job title" required>
                </div>
                <div class="mb-3">
                  <label for="employeePhone" class="form-label">Phone</label>
                  <input type="text" ngModel class="form-control" id="employeePhone"  name="phone" placeholder="Enter phone number" required>
                </div>
                <div class="mb-3">
                    <label for="employeeImageUrl" class="form-label">ImageUrl</label>
                    <input type="text" ngModel class="form-control" id="employeeImageUrl"  name="imageUrl" placeholder="Enter imageUrl" required>
                </div>
                <div class="mb-3">
                  <label for="employeeDepartment" class="form-label">Department</label>
                  <select [(ngModel)]="selectedDepartment" class="form-control" id="employeeDepartment" name="department" placeholder="Choose Department" required>
                    <option *ngFor="let department of departments" [value]="department.id" >
                      {{ department.name }}
                    </option>
                  </select>
                </div>
                
                <div class="modal-footer">
                    <button id="addClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                  </div>
              </form>
        </div>
        
      </div>
    </div>
  </div>

<!-- Edit Employee Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Employee {{editEmployee.name}}" </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #editForm="ngForm">
                <div class="mb-3">
                  <label for="employeeName" class="form-label">Name</label>
                  <input type="text" ngModel="{{editEmployee.name}}" class="form-control" id="employeeName"  name="name" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <input type="hidden" ngModel="{{editEmployee.id}}" name="id" id="id">
                    <input type="hidden" ngModel="{{editEmployee.employeeCode}}" name="userCode" id="code">
                </div>

                <div class="mb-3">
                  <label for="employeeEmail" class="form-label">Email</label>
                  <input type="email" ngModel="{{editEmployee.email}}" class="form-control" id="employeeEmail"  name="email" placeholder="Enter email">
                </div>
                <div class="mb-3">
                  <label for="employeeJobTitle" class="form-label">Job Title</label>
                  <input type="text" ngModel="{{editEmployee.jobTitle}}" class="form-control" id="employeeJobTitle"  name="jobTitle" placeholder="Enter job title">
                </div>
                <div class="mb-3">
                  <label for="employeePhone" class="form-label">Phone</label>
                  <input type="text" ngModel="{{editEmployee.phone}}" class="form-control" id="employeePhone"  name="phone" placeholder="Enter phone number">
                </div>
                <div class="mb-3">
                    <label for="employeeImageUrl" class="form-label">ImageUrl</label>
                    <input type="text" ngModel="{{editEmployee.imageUrl}}" class="form-control" id="employeeImageUrl"  name="imageUrl" placeholder="Enter imageUrl">
                </div>
                <div class="mb-3">
                  <label for="employeeDepartment" class="form-label">Department</label>
                  <select [(ngModel)]="selectedDepartment" class="form-control" id="employeeDepartment" name="department" placeholder="Choose Department" required>
                    <option *ngFor="let department of departments" [value]="department.id" >
                      {{ department.name }}
                    </option>
                  </select>
                </div>
                <div class="modal-footer">
                    <button type="button" id="editClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button (click)="onUpdateEmployee(editForm.value)" type="submit" class="btn btn-primary">Save changes</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Employee Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete employee:  {{deleteEmployee.name}}?
        </div>
        <div class="modal-footer">
          <button id="deleteClose"  type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteEmployee(deleteEmployee.id)" type="submit" class="btn btn-primary" style="background-color: red"  >Yes</button>
        </div>
      </div>
    </div>
  </div>